In [1]:
# Import libraries
import pandas as pd # To manage tables
import numpy as np # To manage numbers and vectors
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
w1 = pd.read_spss('./datenstze/W1_PPS_02.sav')

w2 = pd.read_spss('./datenstze/W2_PPS_01.sav')

w3 = pd.read_spss('./datenstze/W3_PPS_Datensatz01.sav')

w4 = pd.read_spss('./datenstze/W4_PPS_SoSe21_v1.sav')

w5= pd.read_spss('./datenstze/W5_PPS_02.sav')

## Files
# 1. './datenstze/Welle6_v2_4_Gruppen.sav'
# 2. './datenstze/Welle6_v3_Gruppen.sav'
w6 = pd.read_spss('./datenstze/Welle6_v3_Gruppen.sav')

w8 = pd.read_spss('./datenstze/Welle8_v2.sav')

In [4]:
def define_praktikums(row, tuples, returnList=False):
    list_praktikums = []
    for (col, praktikum) in tuples:
        if(row[col] == 'ausgewählt' or row[col] == 'Praktikum absolviert'):
            list_praktikums.append(praktikum)
    if returnList:
        return list_praktikums
    if len(list_praktikums) > 0:
        return list_praktikums[-1]
    else:
        return None

In [5]:
praktikums_names = {
    "Fachpraktikum A": "FP A", 
    "Fachpraktikum B": "FP B",
    "Vertiefungspraktikum A": "VP A", 
    "Vertiefungspraktikum B": "VP B", 
    "Einführungspraktikum B": "EP B",
    "Einführungspraktikum A": "EP A" 
}

praktikums_w1 = [('D6_01','FP A'),('D6_02','FP B'),('D6_03','VP A'),('D6_04','VP B')]
w1['Praktikum'] = w1.apply(lambda row: define_praktikums(row, praktikums_w1 , returnList=False), axis=1)

praktikums_w2 = [('SD23_01','FP A'),('SD23_02','FP B'),('SD23_03','VP A'),('SD23_04','VP B')]
w2['Praktikum'] = w2.apply(lambda row: define_praktikums(row,praktikums_w2, returnList=False), axis=1)

praktikums_w3_w4 = [('PS11_01','FP A'),('PS11_02','FP B'),('PS11_03','VP A'),('PS11_04','VP B'),('PS11_05','EP A')]

w3['Praktikum'] = w3.apply(lambda row: define_praktikums(row,praktikums_w3_w4,returnList=False), axis=1)
w4['Praktikum'] = w4.apply(lambda row: define_praktikums(row,praktikums_w3_w4,returnList=False), axis=1)
w5['Praktikum'] = w5['PS11']
w5['Praktikum'].replace(praktikums_names, inplace=True)
w6['Praktikum'] = w6['PS11']
w6['Praktikum'].replace(praktikums_names, inplace=True)

praktikums_w8 = [('SD08_01','EP A'),('SD08_02','EP B'),('SD08_03','FP A'),('SD08_04','FP B'), ('SD08_05','VP A'),('SD08_06','VP B'),('SD08_07','MP A')]
w8['Praktikum'] = w8.apply(lambda row: define_praktikums(row,praktikums_w8, returnList=False), axis=1)

In [6]:
# Generate ID of students

# Code is [VornameMutter] + [VornameVater] + [ErsteBuchstabe Vorname Student] + [Tag Geburstag] + [(G: grün, B: blue, B: brown) * (ignoring)]
w2['ID_student'] = w2['ID01_01'] +w2['ID01_03'] + w2['ID01_05'] + w2['ID01_07'].str.zfill(2)
w3['ID_student'] = w3['CV27_01'].str[:5]
w4['ID_student'] = w4['CV27_01'] +w4['CV27_02'] + w4['CV27_03'] + w4['CV27_04'].astype('str').str.zfill(2)
w5['ID_student'] = w5['CV27_01'] +w5['CV27_02'] + w5['CV27_03'] + w5['CV27_04'].astype('str').str.zfill(2)
w6['ID_student'] = w6['SC08_01'] +w6['SC08_02'] + w6['SC08_03'] + w6['SC08_04'].astype('str').str.zfill(2)
w8['ID_student'] = w8['CO01_01'].str[:5]

In [7]:
# w1_swe = w1[['SWE_Ges']]
# w3_swe = w3[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w4_swe = w4[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w5_swe = w5[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w6_swe = w6[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w8_swe = w8[['SW01_01', 'SW01_02','SW01_03','SW01_04', 'SW01_05']]

In [8]:
w4['PS13']

0        2
1        4
2        8
3        2
4        6
      ...
242      4
243      2
244      5
245      4
246    NaN
Name: PS13, Length: 247, dtype: category
Categories (8, object): ['&gt;10', '1', '2', '3', '4', '5', '6', '8']

### Selection of relevant columns

In [9]:
# w1 --> D5 Semester;                       "B1_01   (F_01)"; "B8_04   (F_03)"; "B7_01   (F_04)"; "B7_03   (F_09); B1_02   (F_11) ; B3 (F_12); B7_04 (F_13)"#
# w3,w4 --> PS13 Semester;                  "PP01_01 (F_01)"; "PP05_04 (F_03)"; "PP06_01 (F_04)"; "PP05_05 (PP06_03?) (F_09); PP01_02 (F_11) ; PP04_01 (F_12); PP06_03 (F_13)" #
# w5 --> PS13 Semester, Beginn des Studium; "PP01_01 (F_01)"; "BP01_06 (F_03)"; "BP01_01 (F_04)"; "BP01_03 (F_09); PP01_02 (F_11) ; PP04_01 (F_12); BP01_04 (F_13)" #
# w6 --> SF02 Semester, Beginn des Studium; "PP01_01 (F_01)"; "BP01_06 (F_03)"; "BP01_01 (F_04)"; "BP01_03 (F_09); PP09_01 (F_11) ; PP01_02 (F_12); BP01_04 (F_13)" #
# w8 --> SD05 Semester, Beginn des Studium; "PP01_01 (F_01)"; "PP02_05 (F_03)"; "PP02_01 (F_04)"; "PP02_03 (F_09); PP01_05 (F_11) ; PP01_02 (F_12); PP02_04 (F_13)" #

w1_ = w1[['Praktikum','SWE_Ges','FINISHED','TIME_SUM','D5','D2','D1','B1_01','B8_04','B7_01','B7_03','B1_02', 'B3', 'B7_04']].copy()
# w2_ = w2[['Praktikum_w2','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w3_ = w3[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','PS13','D002','D001_01','PP01_01', 'PP05_04', 'PP06_01', 'PP05_05', 'PP01_02', 'PP04_01', 'PP06_03']].copy()
w4_ = w4[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','PS13','D002','D001_01','PP01_01', 'PP05_04', 'PP06_01', 'PP05_05', 'PP01_02', 'PP04_01', 'PP06_03']].copy()
w5_ = w5[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','PS13','SD02','SD01_01','PP01_01', 'BP01_06', 'BP01_01', 'BP01_03', 'PP01_02', 'PP04_01', 'BP01_04']].copy()
w6_ = w6[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','SF02','SD02','SD01_01','PP01_01', 'BP01_06', 'BP01_01', 'BP01_03', 'PP09_01', 'PP01_02', 'BP01_04']].copy()
w8_ = w8[['Praktikum','SW01_01','SW01_02','SW01_03','SW01_04', 'SW01_05','FINISHED','TIME_SUM','SD05','SD02','SD01_01','PP01_01', 'PP02_05', 'PP02_01', 'PP02_03', 'PP01_05', 'PP01_02', 'PP02_04']].copy()

w1_.rename(columns={"D2": "geschlecht", "D1": "age", "SWE_Ges" : "SWE", 'B1_01'  : 'F_01', 'B8_04'  : 'F_03', 'B7_01' :  'F_04', 'B7_03' : 'F_09',  'B1_02'  : 'F_11', 'B3': 'F_12', 'B7_04': 'F_13'}, inplace=True)
w3_.rename(columns={"D002": "geschlecht", "D001_01": "age",'PP01_01' : 'F_01', 'PP05_04': 'F_03', 'PP06_01': 'F_04', 'PP05_05': 'F_09', 'PP01_02': 'F_11', 'PP04_01': 'F_12', 'PP06_03': 'F_13'}, inplace=True)
w4_.rename(columns={"D002": "geschlecht", "D001_01": "age",'PP01_01' : 'F_01', 'PP05_04': 'F_03', 'PP06_01': 'F_04', 'PP05_05': 'F_09', 'PP01_02': 'F_11', 'PP04_01': 'F_12', 'PP06_03': 'F_13'}, inplace=True)
w5_.rename(columns={"SD02": "geschlecht", "SD01_01": "age",'PP01_01' : 'F_01', 'BP01_06': 'F_03', 'BP01_01': 'F_04', 'BP01_03': 'F_09', 'PP01_02': 'F_11', 'PP04_01': 'F_12', 'BP01_04': 'F_13'}, inplace=True)
w6_.rename(columns={"SD02": "geschlecht", "SD01_01": "age",'PP01_01' : 'F_01', 'BP01_06': 'F_03', 'BP01_01': 'F_04', 'BP01_03': 'F_09', 'PP09_01': 'F_11', 'PP01_02': 'F_12', 'BP01_04': 'F_13'}, inplace=True)
w8_.rename(columns={"SD02": "geschlecht", "SD01_01": "age",'PP01_01' : 'F_01', 'PP02_05': 'F_03', 'PP02_01': 'F_04', 'PP02_03': 'F_09', 'PP01_05': 'F_11', 'PP01_02': 'F_12', 'PP02_04': 'F_13'}, inplace=True)



w1_["Welle"] = "w1"
w3_["Welle"] = "w3"
w4_["Welle"] = "w4"
w5_["Welle"] = "w5"
w6_["Welle"] = "w6"
w8_["Welle"] = "w8"

# all_wellen = pd.concat([w1_,w3_, w4_,w5_,w6_, w8_])

In [10]:
w8_.columns.values

array(['Praktikum', 'SW01_01', 'SW01_02', 'SW01_03', 'SW01_04', 'SW01_05',
       'FINISHED', 'TIME_SUM', 'SD05', 'geschlecht', 'age', 'F_01',
       'F_03', 'F_04', 'F_09', 'F_11', 'F_12', 'F_13', 'Welle'],
      dtype=object)

In [11]:
# all_wellen['age'][all_wellen['age'] == ""] = np.nan
w1_['age'][w1_['age'] == ""] = np.nan
w3_['age'][w3_['age'] == ""] = np.nan
w4_['age'][w4_['age'] == ""] = np.nan
w5_['age'][w5_['age'] == ""] = np.nan
w6_['age'][w6_['age'] == ""] = np.nan
w8_['age'][w8_['age'] == ""] = np.nan

/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_55910/1531085769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w1_['age'][w1_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_55910/1531085769.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w3_['age'][w3_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_55910/1531085769.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w4_['age'][w4_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_55910/1531085769.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w5_['age'][w5_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_55910/1531085769.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w6_['age'][w6_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_55910/1531085769.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w8_['age'][w8_['age'] == ""] = np.nan

In [12]:
w1_['age'].isna().sum()

7

In [13]:
w1_["Praktikum"].value_counts()

Praktikum
FP B    108
VP A     79
VP B     38
FP A     35
Name: count, dtype: int64

Select students who spent more than **300 seconds** on the test and **finished** the test

In [14]:
TIME_SUM_THRESHOLD = 300

w1_ = w1_[(w1_['FINISHED'] == 'ausgefüllt') & (w1_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w3_ = w3_[(w3_['FINISHED'] == 'ausgefüllt') & (w3_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w4_ = w4_[(w4_['FINISHED'] == 'ausgefüllt') & (w4_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w5_ = w5_[(w5_['FINISHED'] == 'ausgefüllt') & (w5_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w6_ = w6_[(w6_['FINISHED'] == 'ausgefüllt') & (w6_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w8_ = w8_[(w8_['FINISHED'] == 'ausgefüllt') & (w8_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()

In [15]:
## After applying the threshold and selection, compare with the output above

w1_["Praktikum"].value_counts()

Praktikum
FP B    108
VP A     73
VP B     36
FP A     35
Name: count, dtype: int64

In [16]:
# Remove rows that have any missing values in any of the columns

w1_.dropna(axis='index', how='any', inplace=True)
w3_.dropna(axis='index', how='any',inplace=True)
w4_.dropna(axis='index', how='any',inplace=True)
w5_.dropna(axis='index', how='any',inplace=True)
w6_.dropna(axis='index', how='any',inplace=True)
w8_.dropna(axis='index', how='any',inplace=True)

In [17]:
w1_ = w1_.astype({"age": int})
w3_ = w3_.astype({"age": int})
w4_ = w4_.astype({"age": int})
w5_ = w5_.astype({"age": int})
w6_ = w6_.astype({"age": int})
w8_ = w8_.astype({"age": int})

In [18]:
w5_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11','F_12','F_13']]

,F_01,F_03,F_04,F_09,F_11,F_12,F_13
17,3.0,3.0,3.0,4.0,3.0,3.0,4.0
19,trifft voll und ganz zu,4.0,4.0,5.0,trifft voll und ganz zu,5.0,3.0
21,trifft voll und ganz zu,4.0,3.0,4.0,5.0,trifft voll und ganz zu,trifft gar nicht zu
22,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,5.0
27,trifft voll und ganz zu,trifft gar nicht zu,trifft gar nicht zu,5.0,5.0,trifft voll und ganz zu,trifft gar nicht zu
...,...,...,...,...,...,...,...
133,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu
135,trifft voll und ganz zu,trifft voll und ganz zu,4.0,4.0,trifft voll und ganz zu,trifft voll und ganz zu,4.0
136,trifft voll und ganz zu,trifft voll und ganz zu,5.0,5.0,trifft voll und ganz zu,trifft voll und ganz zu,5.0
137,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu
138,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,trifft voll und ganz zu,2.0

In [19]:
w1_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']] = w1_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']].replace({"trifft gar nicht zu": 1, "trifft voll zu": 4})
w3_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']] = w3_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']].replace({"trifft gar nicht zu": 1, "trifft voll zu": 4})
w4_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']] = w4_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']].replace({"trifft gar nicht zu": 1, "trifft voll zu": 4})
w5_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']] = w5_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']].replace({"trifft gar nicht zu": 1, "trifft voll und ganz zu": 6})
w6_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']] = w6_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']].replace({"trifft gar nicht zu": 1, "trifft voll und ganz zu": 6})
w8_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']] = w8_.loc[:,['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_12','F_13']].replace({"trifft gar nicht zu": 1, "trifft voll und ganz zu": 6})

In [20]:
w3_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 4}, inplace=True)
w4_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 4}, inplace=True)
w5_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w6_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w8_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)

In [21]:
w1_ = w1_.astype({'F_01' : 'float16', 'F_03' : 'float16', 'F_04': 'float16', 'F_09': 'float16', 'F_11': 'float16'})
w3_ = w3_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16', 'F_01' : 'float16', 'F_03' : 'float16', 'F_04': 'float16', 'F_09': 'float16', 'F_11': 'float16','F_12': 'float16', 'F_13': 'float16'})
w4_ = w4_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16', 'F_01' : 'float16', 'F_03' : 'float16', 'F_04': 'float16', 'F_09': 'float16', 'F_11': 'float16','F_12': 'float16', 'F_13': 'float16'})
w5_ = w5_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16', 'F_01' : 'float16', 'F_03' : 'float16', 'F_04': 'float16', 'F_09': 'float16', 'F_11': 'float16','F_12': 'float16', 'F_13': 'float16'})
w6_ = w6_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16', 'F_01' : 'float16', 'F_03' : 'float16', 'F_04': 'float16', 'F_09': 'float16', 'F_11': 'float16','F_12': 'float16', 'F_13': 'float16'})
w8_ = w8_.astype({'SW01_01': 'float16', 'SW01_02': 'float16', 'SW01_03': 'float16', 'SW01_04': 'float16', 'SW01_05': 'float16', 'F_01' : 'float16', 'F_03' : 'float16', 'F_04': 'float16', 'F_09': 'float16', 'F_11': 'float16','F_12': 'float16', 'F_13': 'float16'})

Check SWE values in each question

Calculate **SWE** and normalize value to **max 6**
- Max value **4** in SWE : w1, w3, w4
- Max value **6** in SWE : w5, w6, w8

In [22]:

# w3_['SWE'] = w3_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
# w4_['SWE'] = w4_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
# w5_['SWE'] = w5_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
# w6_['SWE'] = w6_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
# w8_['SWE'] = w8_[['SW01_01','SW01_02','SW01_03', 'SW01_04','SW01_05']].mean(axis=1)

w3_['SWE'] = w3_[['KO01_04','KO01_05']].mean(axis=1)
w4_['SWE'] = w4_[['KO01_01','KO01_02', 'KO01_04','KO01_05']].mean(axis=1)
w5_['SWE'] = w5_[['KO01_01','KO01_04','KO01_05']].mean(axis=1)
w6_['SWE'] = w6_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w8_['SWE'] = w8_[['SW01_01','SW01_02','SW01_03', 'SW01_04','SW01_05']].mean(axis=1)

w1_['F_mean'] = w1_[['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_13']].mean(axis=1)
w3_['F_mean'] = w3_[['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_13']].mean(axis=1)
w4_['F_mean'] = w4_[['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_13']].mean(axis=1)
w5_['F_mean'] = w5_[['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_13']].mean(axis=1)
w6_['F_mean'] = w6_[['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_13']].mean(axis=1)
w8_['F_mean'] = w8_[['F_01', 'F_03', 'F_04', 'F_09', 'F_11', 'F_13']].mean(axis=1)

w1_['F_3mean'] = w1_[[ 'F_03', 'F_04',  'F_11']].mean(axis=1)
w3_['F_3mean'] = w3_[[ 'F_03', 'F_04',  'F_11']].mean(axis=1)
w4_['F_3mean'] = w4_[[ 'F_03', 'F_04',  'F_11']].mean(axis=1)
w5_['F_3mean'] = w5_[[ 'F_03', 'F_04',  'F_11']].mean(axis=1)
w6_['F_3mean'] = w6_[[ 'F_03', 'F_04',  'F_11']].mean(axis=1)
w8_['F_3mean'] = w8_[[ 'F_03', 'F_04',  'F_11']].mean(axis=1)





w1_['SWE_norm'] = ((w1_['SWE'] - 1) * ((6-1) / (4-1))) + 1
w3_['SWE_norm'] = ((w3_['SWE'] - 1) * ((6-1) / (4-1))) + 1
w4_['SWE_norm'] = ((w4_['SWE'] - 1) * ((6-1) / (4-1))) + 1

w5_['SWE_norm'] = w5_['SWE']
w6_['SWE_norm'] = w6_['SWE']
w8_['SWE_norm'] = w8_['SWE']

w1_['F_norm'] = ((w1_['F_mean'] - 1) * ((6-1) / (4-1))) + 1
w3_['F_norm'] = ((w3_['F_mean'] - 1) * ((6-1) / (4-1))) + 1
w4_['F_norm'] = ((w4_['F_mean'] - 1) * ((6-1) / (4-1))) + 1

w5_['F_norm'] = w5_['F_mean']
w6_['F_norm'] = w6_['F_mean']
w8_['F_norm'] = w8_['F_mean']


w1_['F_3norm'] = ((w1_['F_3mean'] - 1) * ((6-1) / (4-1))) + 1
w3_['F_3norm'] = ((w3_['F_3mean'] - 1) * ((6-1) / (4-1))) + 1
w4_['F_3norm'] = ((w4_['F_3mean'] - 1) * ((6-1) / (4-1))) + 1

w5_['F_3norm'] = w5_['F_3mean']
w6_['F_3norm'] = w6_['F_3mean']
w8_['F_3norm'] = w8_['F_3mean']

**Define Semester**

In [23]:
def define_semester(beginn_studium, semester_welle):
    if "WS" in beginn_studium:
        beginn_studium = beginn_studium.replace("WS", "WiSe")
    if "SS" in beginn_studium:
        beginn_studium = beginn_studium.replace("SS", "SoSe")

    current_year = semester_welle[5:9] # Year 2022
    current_ws_ss = semester_welle[:4] # WiSe or SoSe

    beginn_year =  beginn_studium[5:9]
    beginn_ws_ss = beginn_studium[:4]

    fruher = True if "früher" in beginn_studium else False
    
    actual_semester = 0
    diff_year = int(current_year) - int(beginn_year)
    if diff_year == 0 and (current_ws_ss == beginn_ws_ss):
        actual_semester = 1
    else:

        if current_ws_ss == beginn_ws_ss:
            actual_semester = (diff_year * 2) + 1
        elif current_ws_ss == "WiSe" and beginn_ws_ss == "SoSe":
            actual_semester = (diff_year * 2) + 2
        else:
            actual_semester = (diff_year * 2)

    actual_semester =  ">=" +str(actual_semester) if fruher else str(actual_semester)

    return (actual_semester)

In [24]:
# w1 --> D5 Semester #
# w3,w4 --> PS13 Semester #
# w5 --> PS13 Semester, Beginn des Studium
# w6 --> SF02 Semester, Beginn des Studium
# w8 --> SD05 Semester, Beginn des Studium

w1_['Semester'] = w1_['D5']
w3_['Semester'] = w3_['PS13']
w4_['Semester'] = w4_['PS13']

w5_['Semester'] = w5_['PS13'].apply(lambda row: define_semester(row, semester_welle='WiSe 2021'))
w6_['Semester'] = w6_['SF02'].apply(lambda row: define_semester(row, semester_welle='SoSe 2022'))
w8_['Semester'] = w8_['SD05'].apply(lambda row: define_semester(row, semester_welle='SoSe 2023'))

In [25]:
w3_

,Praktikum,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,PS13,geschlecht,age,F_01,F_03,F_04,F_09,F_11,F_12,F_13,Welle,SWE,F_mean,F_3mean,SWE_norm,F_norm,F_3norm,Semester
2,EP A,3.0,4.0,3.0,3.0,2.0,ausgefüllt,738.0,1,männlich,20,4.0,3.0,3.0,4.0,3.0,4.0,3.0,w3,2.5,3.333984,3.000000,3.500000,4.890625,4.335938,1
4,EP A,1.0,2.0,2.0,1.0,3.0,ausgefüllt,502.0,1,weiblich,20,1.0,1.0,1.0,3.0,2.0,2.0,1.0,w3,2.0,1.500000,1.333008,2.667969,1.833984,1.554688,1
10,EP A,3.0,2.0,2.0,2.0,4.0,ausgefüllt,566.0,1,weiblich,21,4.0,1.0,1.0,3.0,4.0,4.0,3.0,w3,3.0,2.666016,2.000000,4.335938,3.777344,2.667969,1
13,EP A,4.0,3.0,4.0,4.0,3.0,ausgefüllt,533.0,1,weiblich,20,4.0,1.0,1.0,3.0,4.0,3.0,1.0,w3,3.5,2.333984,2.000000,5.167969,3.224609,2.667969,1
15,FP B,3.0,1.0,1.0,3.0,3.0,ausgefüllt,823.0,5,weiblich,21,2.0,1.0,3.0,1.0,3.0,1.0,1.0,w3,3.0,1.833008,2.333984,4.335938,2.388672,3.224609,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,FP A,3.0,3.0,4.0,4.0,3.0,ausgefüllt,897.0,4,weiblich,24,4.0,4.0,3.0,4.0,4.0,4.0,4.0,w3,3.5,3.833984,3.666016,5.167969,5.722656,5.445312,4
279,VP B,4.0,4.0,4.0,4.0,4.0,ausgefüllt,1055.0,2,weiblich,35,4.0,3.0,3.0,4.0,4.0,4.0,4.0,w3,4.0,3.666016,3.333984,6.000000,5.445312,4.890625,2
283,EP A,4.0,4.0,2.0,4.0,3.0,ausgefüllt,813.0,1,weiblich,27,4.0,2.0,1.0,4.0,4.0,4.0,4.0,w3,3.5,3.166016,2.333984,5.167969,4.609375,3.224609,1
290,FP B,4.0,4.0,4.0,4.0,4.0,ausgefüllt,894.0,3,männlich,29,4.0,4.0,2.0,4.0,4.0,4.0,4.0,w3,4.0,3.666016,3.333984,6.000000,5.445312,4.890625,3
296,VP B,3.0,3.0,3.0,4.0,3.0,ausgefüllt,938.0,7,weiblich,22,4.0,4.0,3.0,4.0,4.0,4.0,4.0,w3,3.5,3.833984,3.666016,5.167969,5.722656,5.445312,7

#### Groups by praktikum

In [26]:
from collections import defaultdict
selected_columns = ['Welle','Praktikum','F_01','F_03','F_04','F_09','F_11','F_12','F_13','F_norm','F_3norm','SWE_norm','Semester','geschlecht','age']
wellen = [
    w1_[selected_columns].values,
    w3_[selected_columns].values, 
    w4_[selected_columns].values, 
    w5_[selected_columns].values, 
    w6_[selected_columns].values, 
    w8_[selected_columns].values
]

groups_praktikum = defaultdict(list)

for vals in wellen:
    for row in vals:
        groups_praktikum[row[0]].append(row)

for key in groups_praktikum.keys():
    groups_praktikum[key] = np.array(groups_praktikum[key])

In [27]:
list_praktikums = pd.DataFrame(
    np.concatenate(tuple(praktikum_values for praktikum_values in groups_praktikum.values()), axis=0),
    columns=['Welle','Praktikum','F_01','F_03','F_04','F_09','F_11','F_12','F_13','F_norm','F_3norm','SWE_norm','Semester','geschlecht','age']
)
list_praktikums.head()

,Welle,Praktikum,F_01,F_03,F_04,F_09,F_11,F_12,F_13,F_norm,F_3norm,SWE_norm,Semester,geschlecht,age
0,w1,FP B,4.0,4.0,4.0,3.0,4.0,4.0,2.0,5.166667,6.0,5.666667,5.0,weiblich,34
1,w1,FP A,3.0,3.0,3.0,2.0,2.0,2.0,3.0,3.777778,3.777344,5.333333,5.0,männlich,26
2,w1,VP A,3.0,3.0,2.0,1.0,2.0,3.0,1.0,2.666667,3.224609,3.333333,7.0,weiblich,23
3,w1,VP A,3.0,4.0,2.0,2.0,2.0,3.0,2.0,3.5,3.777344,4.666667,7.0,männlich,24
4,w1,FP B,4.0,4.0,4.0,4.0,4.0,4.0,2.0,5.444444,6.0,5.666667,5.0,weiblich,34

#### Praktikum in each welle

In [28]:
from collections import defaultdict
dict_wellen = {}
wellen = [
    w1_[selected_columns],
    w3_[selected_columns], 
    w4_[selected_columns], 
    w5_[selected_columns], 
    w6_[selected_columns], 
    w8_[selected_columns],
]

wellen_names = ["w1","w3","w4","w5","w6","w8"]
for name,w in zip(wellen_names,wellen):
   dict_wellen[name] = {
      "EP_A" : w[w['Praktikum'] == 'EP A']["SWE_norm"].mean(),
      "EP_B" : w[w['Praktikum'] == 'EP B']["SWE_norm"].mean(),
      "FP_A" : w[w['Praktikum'] == 'FP A']["SWE_norm"].mean(),
      "FP_B" : w[w['Praktikum'] == 'FP B']["SWE_norm"].mean(),
      "VP_A" : w[w['Praktikum'] == 'VP A']["SWE_norm"].mean(),
      "VP_B" : w[w['Praktikum'] == 'VP B']["SWE_norm"].mean()
   }

pd.DataFrame.from_dict(dict_wellen, orient="index")

        EP_A      EP_B      FP_A      FP_B      VP_A      VP_B
w1       NaN       NaN  4.758621  4.817204  4.789744  4.877778
w3  4.460938       NaN  4.812500  4.761719  5.101562  4.957031
w4  5.132812       NaN  4.890625  5.117188  5.328125  5.152344
w5  4.738281       NaN  4.628906  4.917969  4.921875  4.925781
w6       NaN       NaN  4.890625  5.066406  4.746094  4.863281
w8  4.644531  4.824219  4.742188  4.691406  4.871094  4.734375

In [29]:
w1_[w1_['Praktikum'] == 'EP A']["SWE_norm"].mean()

nan

In [30]:
w1_[w1_['Praktikum'] == 'FP A']['SWE_norm'].mean()

4.758620689655173

In [31]:
from datetime import datetime
date = datetime.now()
op = '%s_%s_%s' % ( date.day, date.month, date.year)

In [32]:
import pyreadstat

pyreadstat.write_sav(list_praktikums, f"list_praktikums_{op}.sav")

# for n,w in zip(wellen_names,wellen):
#     file = f"./lists_{op}/{n}_list.sav"
#     print(file)
#     pyreadstat.write_sav(pd.DataFrame(w.values, columns=selected_columns), file)

In [33]:
list_praktikums

,Welle,Praktikum,F_01,F_03,F_04,F_09,F_11,F_12,F_13,F_norm,F_3norm,SWE_norm,Semester,geschlecht,age
0,w1,FP B,4.0,4.0,4.0,3.0,4.0,4.0,2.0,5.166667,6.0,5.666667,5.0,weiblich,34
1,w1,FP A,3.0,3.0,3.0,2.0,2.0,2.0,3.0,3.777778,3.777344,5.333333,5.0,männlich,26
2,w1,VP A,3.0,3.0,2.0,1.0,2.0,3.0,1.0,2.666667,3.224609,3.333333,7.0,weiblich,23
3,w1,VP A,3.0,4.0,2.0,2.0,2.0,3.0,2.0,3.5,3.777344,4.666667,7.0,männlich,24
4,w1,FP B,4.0,4.0,4.0,4.0,4.0,4.0,2.0,5.444444,6.0,5.666667,5.0,weiblich,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,w8,VP A,6.0,5.0,4.0,6.0,6.0,6.0,4.0,5.167969,5.0,5.0,10,weiblich,33
1287,w8,VP A,4.0,4.0,3.0,4.0,3.0,5.0,2.0,3.333984,3.333984,4.800781,8,weiblich,22
1288,w8,VP A,3.0,3.0,1.0,4.0,5.0,3.0,1.0,2.833984,3.0,5.398438,8,weiblich,21
1289,w8,EP A,5.0,5.0,5.0,6.0,5.0,5.0,5.0,5.167969,5.0,4.601562,2,männlich,20
1290,w8,EP B,4.0,4.0,5.0,5.0,3.0,3.0,5.0,4.332031,4.0,5.199219,1,weiblich,20

In [34]:
list_praktikums[['F_01','F_03','F_04','F_09','F_11','F_12','F_13','F_norm','F_3norm','SWE_norm']].corr()

,F_01,F_03,F_04,F_09,F_11,F_12,F_13,F_norm,F_3norm,SWE_norm
F_01,1.000000,0.672271,0.457345,0.670608,0.741943,0.774816,0.484669,0.582299,0.519256,0.131781
F_03,0.672271,1.000000,0.564753,0.707919,0.644712,0.655255,0.586251,0.653928,0.708890,0.149252
F_04,0.457345,0.564753,1.000000,0.531046,0.446012,0.434761,0.567067,0.587493,0.695218,0.147103
F_09,0.670608,0.707919,0.531046,1.000000,0.684938,0.672348,0.681685,0.696849,0.578006,0.136826
F_11,0.741943,0.644712,0.446012,0.684938,1.000000,0.733640,0.490726,0.603364,0.637199,0.148155
F_12,0.774816,0.655255,0.434761,0.672348,0.733640,1.000000,0.474969,0.476629,0.454470,0.087431
F_13,0.484669,0.586251,0.567067,0.681685,0.490726,0.474969,1.000000,0.728486,0.576440,0.124678
F_norm,0.582299,0.653928,0.587493,0.696849,0.603364,0.476629,0.728486,1.000000,0.928032,0.267184
F_3norm,0.519256,0.708890,0.695218,0.578006,0.637199,0.454470,0.576440,0.928032,1.000000,0.273900
SWE_norm,0.131781,0.149252,0.147103,0.136826,0.148155,0.087431,0.124678,0.267184,0.273900,1.000000

In [35]:
stop

NameError: name 'stop' is not defined

## Age

In [ ]:
all_wellen = pd.concat(wellen)

In [ ]:
all_wellen

    Welle Praktikum       SWE  SWE_norm Semester geschlecht  age
1      w1      FP B  3.800000  5.700000      5.0   weiblich   34
2      w1      FP A  3.600000  5.400000      5.0   männlich   26
4      w1      VP A  2.400000  3.600000      7.0   weiblich   23
5      w1      VP A  3.200000  4.800000      7.0   männlich   24
13     w1      FP B  3.800000  5.700000      5.0   weiblich   34
..    ...       ...       ...       ...      ...        ...  ...
575    w8      FP B  5.398438  5.398438        6   weiblich   24
576    w8      VP A  4.800781  4.800781        8   weiblich   22
577    w8      VP A  5.398438  5.398438        8   weiblich   21
578    w8      EP A  4.601562  4.601562        2   männlich   20
579    w8      EP B  5.199219  5.199219        1   weiblich   20

[1662 rows x 7 columns]

In [ ]:
all_wellen[['Welle','geschlecht','age']].groupby(by=["Welle","geschlecht"]).agg(['count','min', 'max','median','mean','std'])

                      age
                    count min max median       mean       std
Welle geschlecht
w1    männlich         69  20  36   24.0  25.086957  3.604487
      weiblich        150  20  44   22.0  23.773333  4.375261
w3    männlich         24  19  35   24.0  25.000000  4.854402
      weiblich         99  18  46   22.0  23.262626  5.583478
w4    divers/andere     2  19  22   20.5  20.500000  2.121320
      männlich         66  19  48   22.0  24.424242  6.256223
      weiblich        149  18  43   21.0  22.389262  4.432240
w5    divers/andere     2  21  24   22.5  22.500000  2.121320
      männlich         33  18  35   23.0  24.000000  4.235269
      weiblich         78  18  47   22.0  23.794872  5.865060
w6    divers/andere     4  21  24   22.0  22.250000  1.500000
      männlich        141  18  48   22.0  23.354610  4.294739
      weiblich        328  18  47   21.0  22.344512  3.779904
w8    divers            5  20  25   22.0  22.400000  2.073644
      männlich        137  19  50   24.0  24.956204  5.346616
      weiblich        375  18  50   22.0  23.536000  4.970841

In [ ]:
all_wellen[['Welle','age']].groupby(by=["Welle"]).agg(['min', 'max','median','mean','std'])

      age
      min max median       mean       std
Welle
w1     20  44   23.0  24.187215  4.184574
w3     18  46   22.0  23.601626  5.473842
w4     18  48   21.0  22.990783  5.118043
w5     18  47   22.0  23.831858  5.371723
w6     18  48   22.0  22.644820  3.949450
w8     18  50   23.0  23.901354  5.088361

In [ ]:
all_wellen[(all_wellen["Welle"] == "w3") & (all_wellen["geschlecht"] == "weiblich")]['age'].mean()

23.262626262626263

In [ ]:
w1_stats = w1_[['SWE']].describe().T.reset_index()
w3_stats = w3_[['KO01_01','KO01_02','KO01_03','KO01_04','KO01_05']].describe().T.reset_index()
w4_stats = w4_[['KO01_01','KO01_02','KO01_03','KO01_04','KO01_05']].describe().T.reset_index()
w5_stats = w5_[['KO01_01','KO01_02','KO01_03','KO01_04','KO01_05']].describe().T.reset_index()
w6_stats = w6_[['KO01_01','KO01_02','KO01_03','KO01_04','KO01_05']].describe().T.reset_index()
w8_stats = w8_[['SW01_01','SW01_02','SW01_03','SW01_04','SW01_05']].describe().T.reset_index()
w1_stats['Welle'] = "W1"
w3_stats['Welle'] = "W3"
w4_stats['Welle'] = "W4"
w5_stats['Welle'] = "W5"
w6_stats['Welle'] = "W6"
w8_stats['Welle'] = "W8"
stats = pd.concat([w1_stats, w3_stats, w4_stats, w5_stats, w6_stats, w8_stats])

stats.set_index(['Welle',"index"], inplace=True)
stats.rename(index={"index": "Frage"}, inplace=True)

In [ ]:
stats

               count      mean       std  min  25%  50%  75%  max
Welle index
W1    SWE      219.0  3.284018  0.414275  1.8  3.0  3.4  3.6  4.0
W3    KO01_01  123.0  3.138672  0.761230  1.0  3.0  3.0  4.0  4.0
      KO01_02  123.0  3.179688  0.747070  1.0  3.0  3.0  4.0  4.0
      KO01_03  123.0  2.894531  0.776855  1.0  2.0  3.0  3.0  4.0
      KO01_04  123.0  3.308594  0.714355  1.0  3.0  3.0  4.0  4.0
      KO01_05  123.0  3.251953  0.719727  1.0  3.0  3.0  4.0  4.0
W4    KO01_01  217.0  3.419922  0.655273  1.0  3.0  4.0  4.0  4.0
      KO01_02  217.0  3.501953  0.609375  1.0  3.0  4.0  4.0  4.0
      KO01_03  217.0  3.027344  0.706543  1.0  3.0  3.0  3.0  4.0
      KO01_04  217.0  3.521484  0.562012  2.0  3.0  4.0  4.0  4.0
      KO01_05  217.0  3.437500  0.606445  2.0  3.0  3.0  4.0  4.0
W5    KO01_01  113.0  4.921875  0.825195  3.0  4.0  5.0  5.0  6.0
      KO01_02  113.0  5.019531  0.755859  3.0  5.0  5.0  6.0  6.0
      KO01_03  113.0  4.292969  1.107422  1.0  4.0  4.0  5.0  6.0
      KO01_04  113.0  4.859375  0.885254  2.0  4.0  5.0  5.0  6.0
      KO01_05  113.0  4.839844  1.013672  2.0  4.0  5.0  6.0  6.0
W6    KO01_01  473.0  5.007812  0.890137  1.0  5.0  5.0  6.0  6.0
      KO01_02  473.0  5.023438  0.984863  1.0  5.0  5.0  6.0  6.0
      KO01_03  473.0  4.402344  1.044922  1.0  4.0  4.0  5.0  6.0
      KO01_04  473.0  5.031250  0.893066  2.0  5.0  5.0  6.0  6.0
      KO01_05  473.0  5.085938  0.884766  1.0  5.0  5.0  6.0  6.0
W8    SW01_01  517.0  4.855469  1.038086  1.0  4.0  5.0  6.0  6.0
      SW01_02  517.0  4.867188  1.057617  1.0  4.0  5.0  6.0  6.0
      SW01_03  517.0  4.148438  1.187500  1.0  3.0  4.0  5.0  6.0
      SW01_04  517.0  4.890625  1.019531  1.0  4.0  5.0  6.0  6.0
      SW01_05  517.0  4.882812  1.017578  1.0  4.0  5.0  6.0  6.0