# Masterarbeit

## Forschungsfrage 1

In [1]:
# Import libraries
import pandas as pd # To manage tables
import numpy as np # To manage numbers and vectors
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
w1 = pd.read_spss('./datenstze/W1_PPS_02.sav')
#w1.set_index('CASE', inplace=True)
w1.index = w1.index.astype(dtype='int64')

# ['ID01_01', 'ID01_03', 'ID01_05', 'ID01_07']
# L, L, S, 27
w2 = pd.read_spss('./datenstze/W2_PPS_01.sav')
#w2.set_index('CASE', inplace=True)
w2.index = w2.index.astype(dtype='int64')

# CV27_01
# GMA17B
w3 = pd.read_spss('./datenstze/W3_PPS_Datensatz01.sav')
#w3.set_index('CASE', inplace=True)
#w3.index = w3.index.astype(dtype='int64')

# ['CV27_01', 'CV27_02', 'CV27_03', 'CV27_04', 'CV27_05']
# G, M, A, 17, B
w4 = pd.read_spss('./datenstze/W4_PPS_SoSe21_v1.sav')
#w4.set_index('CASE', inplace=True)
#w4.index = w4.index.astype(dtype='int64')

# CV27_01, CV27_02, CV27_03, CV27_04, CV27_05
# G, M, A, 17, B
w5= pd.read_spss('./datenstze/W5_PPS_02.sav')
#w5.set_index('CASE', inplace=True)
#w5.index = w5.index.astype(dtype='int64')

# SC08_01, SC08_02, SC08_03, SC08_04, SC08_05
# P, R, M, 24, B

w6 = pd.read_spss('./datenstze/Welle6_v2_4_Gruppen.sav')
#w6.set_index('CASE', inplace=True)
#w6.index = w6.index.astype(dtype='int64')

# SC08_01, SC08_02, SC08_03, SC08_04, SC08_05
# P, R, M, 24, B
# Semester SF_02
w6_v3 = pd.read_spss('./datenstze/Welle6_v3_Gruppen.sav')
#w6_v3.set_index('CASE', inplace=True)
#w6_v3.index = w6.index.astype(dtype='int64')

# CO01_01
# IHT24G
w8 = pd.read_spss('./datenstze/Welle8_v2.sav')
#w8.set_index('CASE', inplace=True)
#w8.index = w8.index.astype(dtype='int64')

In [4]:
#w6_v3.to_csv('./w6_v3.csv')

In [5]:
w2['ID_student'] = w2['ID01_01'] +w2['ID01_03'] + w2['ID01_05'] + w2['ID01_07'].str.zfill(2)

In [6]:
w3['ID_student'] = w3['CV27_01'].str[:5]

In [7]:
def define_praktikum(row):
    list_p = []
    if row['PS11_01'] == 'ausgewählt' :
        list_p.append('FP A')
    if row['PS11_02'] == 'ausgewählt' :
        list_p.append('FP B')
    if row['PS11_03'] == 'ausgewählt' :
        list_p.append('VP A')
    if row['PS11_04'] == 'ausgewählt' :
        list_p.append('VP B')
    if row['PS11_05'] == 'ausgewählt' :
        list_p.append('EP A')
    return list_p

In [8]:
def define_praktikum_one_value(row):
    value=''
    if row['PS11_01'] == 'ausgewählt' :
        value = 'FP A'
    if row['PS11_02'] == 'ausgewählt' :
        value = 'FP B'
    if row['PS11_03'] == 'ausgewählt' :
        value = 'VP A'
    if row['PS11_04'] == 'ausgewählt' :
        value = 'VP B'
    if row['PS11_05'] == 'ausgewählt' :
        value = 'EP A'
    return value

In [9]:
def define_praktikum_one_value_w1(row):
    value=''
    if row['D6_01'] == 'ausgewählt' :
        value = 'FP A'
    if row['D6_02'] == 'ausgewählt' :
        value = 'FP B'
    if row['D6_03'] == 'ausgewählt' :
        value = 'VP A'
    if row['D6_04'] == 'ausgewählt' :
        value = 'VP B'
    return value

In [10]:
def define_praktikum_w8(row):
    list_p = []
    if row['SD08_01'] == 'Praktikum absolviert' :
        list_p.append('EP A')
    if row['SD08_02'] == 'Praktikum absolviert' :
        list_p.append('EP B')
    if row['SD08_03'] == 'Praktikum absolviert' :
        list_p.append('FP A')
    if row['SD08_04'] == 'Praktikum absolviert' :
        list_p.append('FP B')
    if row['SD08_05'] == 'Praktikum absolviert' :
        list_p.append('VP A')
    if row['SD08_06'] == 'Praktikum absolviert' :
        list_p.append('VP B')
    if row['SD08_07'] == 'Praktikum absolviert' :
        list_p.append('MP A')
    return list_p

In [11]:
w1['Praktikum_w1'] = w1.apply(lambda row: define_praktikum_one_value_w1(row), axis=1)

In [12]:
w3['Praktikum_w3'] = w3.apply(lambda row: define_praktikum_one_value(row), axis=1)

In [13]:
w4['Praktikum_w4'] = w4.apply(lambda row: define_praktikum_one_value(row), axis=1)

In [14]:
w8['Praktikum_w8'] = w8.apply(lambda row: define_praktikum_w8(row), axis=1)

In [15]:
w4['ID_student'] = w4['CV27_01'] +w4['CV27_02'] + w4['CV27_03'] +\
                    w4['CV27_04'].astype('str').str.zfill(2)

In [16]:
w5['ID_student'] = w5['CV27_01'] +w5['CV27_02'] + w5['CV27_03'] + \
                    w5['CV27_04'].astype('str').str.zfill(2)

In [17]:
w6['ID_student'] = w6['SC08_01'] +w6['SC08_02'] + w6['SC08_03'] + \
                    w6['SC08_04'].astype('str').str.zfill(2)

In [18]:
w6_v3['ID_student'] = w6_v3['SC08_01'] +w6_v3['SC08_02'] + w6_v3['SC08_03'] + \
                    w6_v3['SC08_04'].astype('str').str.zfill(2)

In [19]:
w8['ID_student'] = w8['CO01_01'].str[:5]

In [20]:
w2.set_index('ID_student', inplace=True)
w2.index = w2.index.str.upper()

In [21]:
w3.set_index('ID_student', inplace=True)
w3.index = w3.index.str.upper()

In [22]:
w4.set_index('ID_student', inplace=True)
w4.index = w4.index.str.upper()

In [23]:
w5.set_index('ID_student', inplace=True)
w5.index = w5.index.str.upper()

In [24]:
w6.set_index('ID_student', inplace=True)
w6.index = w6.index.str.upper()

In [25]:
w6_v3.set_index('ID_student', inplace=True)
w6_v3.index = w6_v3.index.str.upper()

In [26]:
w8.set_index('ID_student', inplace=True)
w8.index = w8.index.str.upper()

In [27]:
w2.index.duplicated().sum()

211

In [28]:
w2.drop(w2[w2.index == '00'].index, inplace=True)

In [29]:
w2.index.duplicated().sum()

0

In [30]:
w3.index.duplicated().sum()

180

In [31]:
w3.drop(w3[w3.index == ''].index, inplace=True)

In [32]:
w3 = w3[~w3.index.duplicated(keep='last')]

In [33]:
w3.index.duplicated().sum()

0

In [34]:
w4.index.duplicated().sum()

9

In [35]:
w4.drop(w4[w4.index == '00'].index, inplace=True)

In [36]:
w4.drop(w4[w4.index.duplicated()].index, inplace=True)

In [37]:
w4.index.duplicated().sum()

0

In [38]:
w5.index.duplicated().sum()

16

In [39]:
w5.drop(w5[w5.index == '00'].index, inplace=True)

In [40]:
w5.drop(w5[w5.index.duplicated()].index, inplace=True)

In [41]:
w5.index.duplicated().sum()

0

In [42]:
w6.index.duplicated().sum()

7

In [43]:
w6.drop(w6[w6.index == '00'].index, inplace=True)

In [44]:
w6.drop(w6[w6.index.duplicated()].index, inplace=True)

In [45]:
w6.index.duplicated().sum()

0

In [46]:
w6_v3.index.duplicated().sum()

7

In [47]:
w6_v3.drop(w6_v3[w6_v3.index == '00'].index, inplace=True)

In [48]:
w6_v3.drop(w6_v3[w6_v3.index.duplicated()].index, inplace=True)

In [49]:
w6_v3.index.duplicated().sum()

0

In [50]:
w8.index.duplicated().sum()

16

In [51]:
w8.drop(w8[w8.index == ''].index, inplace=True)

In [52]:
w8.drop(w8[w8.index.duplicated()].index, inplace=True)

In [53]:
w8.index.duplicated().sum()

0

In [54]:
w1_swe = w1[['SWE_Ges']]
w3_swe = w3[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
w4_swe = w4[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
w5_swe = w5[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
w6_swe = w6[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
w6_v3_swe = w6_v3[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
w8_swe = w8[['SW01_01', 'SW01_02','SW01_03','SW01_04', 'SW01_05']]

In [55]:
w1_ = w1[['Praktikum_w1','SWE_Ges','FINISHED','TIME_SUM']].copy()
w3_ = w3[['Praktikum_w3','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w4_ = w4[['Praktikum_w4','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w5_ = w5[['PS11','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w5_.rename(columns={"PS11": "Praktikum_w5"}, inplace=True)
w6_ = w6[['PS11','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w6_.rename(columns={"PS11": "Praktikum_w6"}, inplace=True)
w6_v3_ = w6_v3[['PS11','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w6_v3_.rename(columns={"PS11": "Praktikum_w6"}, inplace=True)
w8_ = w8[['Praktikum_w8','SW01_01', 'SW01_02','SW01_03','SW01_04', 'SW01_05','FINISHED','TIME_SUM']].copy()
w8_['Praktikum_w8'] =[ practices[-1]  if len(practices) > 0 else None for practices in w8_['Praktikum_w8'].values]

In [56]:
(w3_['TIME_SUM']>600).sum()

105

In [57]:
w1_ = w1_[(w1_['FINISHED'] == 'ausgefüllt') & (w1_['TIME_SUM'] >600)]
w3_ = w3_[(w3_['FINISHED'] == 'ausgefüllt') & (w3_['TIME_SUM'] >600)]
w4_ = w4_[(w4_['FINISHED'] == 'ausgefüllt') & (w4_['TIME_SUM'] >600)]
w5_ = w5_[(w5_['FINISHED'] == 'ausgefüllt') & (w5_['TIME_SUM'] >600)]
w6_ = w6_[(w6_['FINISHED'] == 'ausgefüllt') & (w6_['TIME_SUM'] >600)]
w6_v3_ = w6_v3_[(w6_v3_['FINISHED'] == 'ausgefüllt') & (w6_v3_['TIME_SUM'] >600)]
w8_ = w8_[(w8_['FINISHED'] == 'ausgefüllt') & (w8_['TIME_SUM'] >600)]

In [58]:
w1_

    Praktikum_w1  SWE_Ges    FINISHED  TIME_SUM
0           VP A      3.4  ausgefüllt    1329.0
1           FP B      3.8  ausgefüllt     689.0
2           FP A      3.6  ausgefüllt     689.0
4           VP A      2.4  ausgefüllt    1344.0
5           VP A      3.2  ausgefüllt     632.0
..           ...      ...         ...       ...
255         FP B      3.8  ausgefüllt    2780.0
256         FP B      3.8  ausgefüllt     814.0
257         FP B      3.6  ausgefüllt    1376.0
258         FP B      4.0  ausgefüllt     941.0
259         FP B      3.4  ausgefüllt    1078.0

[240 rows x 4 columns]

In [59]:
w1_.dropna(inplace=True)
w3_.dropna(inplace=True)
w4_.dropna(inplace=True)
w5_.dropna(inplace=True)
w6_.dropna(inplace=True)
w6_v3_.dropna(inplace=True)
w8_.dropna(inplace=True)

In [60]:
w3_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 4}, inplace=True)
w4_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 4}, inplace=True)
w5_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w6_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w6_v3_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w8_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)

In [61]:
values_to_replace = {
    "Fachpraktikum A": "FP A", 
    "Fachpraktikum B": "FP B",
    "Vertiefungspraktikum A": "VP A", 
    "Vertiefungspraktikum B": "VP B", 
    "Einführungspraktikum B": "EP B",
    "Einführungspraktikum A": "EP A" 
}
w3_.replace(values_to_replace, inplace=True)
w4_.replace(values_to_replace, inplace=True)
w5_.replace(values_to_replace, inplace=True)
w6_.replace(values_to_replace, inplace=True)
w6_v3_.replace(values_to_replace, inplace=True)
w8_.replace(values_to_replace, inplace=True)

In [62]:
w3_ = w3_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w4_ = w4_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w5_ = w5_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w6_ = w6_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w6_v3_ = w6_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w8_ = w8_.astype({'SW01_01': 'float16', 'SW01_02': 'float16', 'SW01_03': 'float16', 'SW01_04': 'float16', 'SW01_05': 'float16'})

In [63]:
w3_.isna().sum()

Praktikum_w3    0
KO01_01         0
KO01_02         0
KO01_03         0
KO01_04         0
KO01_05         0
FINISHED        0
TIME_SUM        0
dtype: int64

In [64]:
w4_.isna().sum()

Praktikum_w4    0
KO01_01         0
KO01_02         0
KO01_03         0
KO01_04         0
KO01_05         0
FINISHED        0
TIME_SUM        0
dtype: int64

In [65]:
w5_.isna().sum()

Praktikum_w5    0
KO01_01         0
KO01_02         0
KO01_03         0
KO01_04         0
KO01_05         0
FINISHED        0
TIME_SUM        0
dtype: int64

In [66]:
w6_.isna().sum()

Praktikum_w6    0
KO01_01         0
KO01_02         0
KO01_03         0
KO01_04         0
KO01_05         0
FINISHED        0
TIME_SUM        0
dtype: int64

In [67]:
w6_v3_.isna().sum()

Praktikum_w6    0
KO01_01         0
KO01_02         0
KO01_03         0
KO01_04         0
KO01_05         0
FINISHED        0
TIME_SUM        0
dtype: int64

In [68]:
w8_.isna().sum()

Praktikum_w8    0
SW01_01         0
SW01_02         0
SW01_03         0
SW01_04         0
SW01_05         0
FINISHED        0
TIME_SUM        0
dtype: int64

In [69]:
cols_to_fill_01_l1 = ['01_02', '01_03', '01_04', '01_05']
cols_to_fill_01_l2 = ['01_02', '01_03', '01_04']
cols_to_fill_01_l3 = ['01_02', '01_03']

cols_to_fill_02_l1 = ['01_01', '01_03', '01_04', '01_05']
cols_to_fill_02_l2 = ['01_01', '01_03', '01_04']
cols_to_fill_02_l3 = ['01_01', '01_03']

cols_to_fill_03_l1 = ['01_01', '01_02', '01_04', '01_05']
cols_to_fill_03_l2 = ['01_01', '01_02', '01_04']
cols_to_fill_03_l3 = ['01_01', '01_02']

cols_to_fill_04_l1 = ['01_01', '01_02', '01_03', '01_05']
cols_to_fill_04_l2 = ['01_01', '01_02', '01_03']
cols_to_fill_04_l3 = ['01_01', '01_02']

cols_to_fill_05_l1 = ['01_01', '01_02', '01_03', '01_04']
cols_to_fill_05_l2 = ['01_01', '01_02', '01_03']
cols_to_fill_05_l3 = ['01_01', '01_02']

In [70]:
method_to_fill = "mean"
wellen = [w3_, w4_, w5_, w6_, w6_v3_, w8_]

In [71]:
"""
for i,w in enumerate(wellen):
    col="KO"
    if i==5:
        col = "SW"

    
    key = col+'01_01'
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_01_l1])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_01_l2])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_01_l3])[key].transform(method_to_fill))
    
    key = col+'01_02'
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_02_l1])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_02_l2])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_02_l3])[key].transform(method_to_fill))
    
    key = col+'01_03'
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_03_l1])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_03_l2])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_03_l3])[key].transform(method_to_fill))
    
    key = col+'01_04'
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_04_l1])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_04_l2])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_04_l3])[key].transform(method_to_fill))

    key = col+'01_05'
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_05_l1])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_05_l2])[key].transform(method_to_fill))
    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_05_l3])[key].transform(method_to_fill))"""

'\nfor i,w in enumerate(wellen):\n    col="KO"\n    if i==5:\n        col = "SW"\n\n    \n    key = col+\'01_01\'\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_01_l1])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_01_l2])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_01_l3])[key].transform(method_to_fill))\n    \n    key = col+\'01_02\'\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_02_l1])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_02_l2])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_02_l3])[key].transform(method_to_fill))\n    \n    key = col+\'01_03\'\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_03_l1])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_03_l2])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_03_l3])[key].transform(method_to_fill))\n    \n    key = col+\'01_04\'\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_04_l1])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_04_l2])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_04_l3])[key].transform(method_to_fill))\n\n    key = col+\'01_05\'\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_05_l1])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_05_l2])[key].transform(method_to_fill))\n    w[key] = w[key].fillna(w.groupby([col+c for c in cols_to_fill_05_l3])[key].transform(method_to_fill))'

In [72]:
w3_['SWE_Mean'] = w3_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w4_['SWE_Mean'] = w4_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w5_['SWE_Mean'] = w5_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w6_['SWE_Mean'] = w6_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w6_v3_['SWE_Mean'] = w6_v3_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w8_['SWE_Mean'] = w8_[['SW01_01','SW01_02','SW01_03', 'SW01_04','SW01_05']].mean(axis=1)

w1_['SWE_Mean_norm'] = w1_['SWE_Ges']/4 * 6
w3_['SWE_Mean_norm'] = w3_['SWE_Mean']/4 * 6
w4_['SWE_Mean_norm'] = w4_['SWE_Mean']/4 * 6
w5_['SWE_Mean_norm'] = w5_['SWE_Mean']
w6_['SWE_Mean_norm'] = w6_['SWE_Mean']
w6_v3_['SWE_Mean_norm'] = w6_v3_['SWE_Mean']
w8_['SWE_Mean_norm'] = w8_['SWE_Mean']

"""
w1_['SWE_Mean_norm'] = w1_['SWE_Ges']
w3_['SWE_Mean_norm'] = w3_['SWE_Mean']
w4_['SWE_Mean_norm'] = w4_['SWE_Mean']
w5_['SWE_Mean_norm'] = w5_['SWE_Mean']/6*4
w6_['SWE_Mean_norm'] = w6_['SWE_Mean']/6*4
w6_v3_['SWE_Mean_norm'] = w6_v3_['SWE_Mean']/6*4
w8_['SWE_Mean_norm'] = w8_['SWE_Mean']/6*4"""

"\nw1_['SWE_Mean_norm'] = w1_['SWE_Ges']\nw3_['SWE_Mean_norm'] = w3_['SWE_Mean']\nw4_['SWE_Mean_norm'] = w4_['SWE_Mean']\nw5_['SWE_Mean_norm'] = w5_['SWE_Mean']/6*4\nw6_['SWE_Mean_norm'] = w6_['SWE_Mean']/6*4\nw6_v3_['SWE_Mean_norm'] = w6_v3_['SWE_Mean']/6*4\nw8_['SWE_Mean_norm'] = w8_['SWE_Mean']/6*4"

In [73]:
w1_

    Praktikum_w1  SWE_Ges    FINISHED  TIME_SUM  SWE_Mean_norm
0           VP A      3.4  ausgefüllt    1329.0            5.1
1           FP B      3.8  ausgefüllt     689.0            5.7
2           FP A      3.6  ausgefüllt     689.0            5.4
4           VP A      2.4  ausgefüllt    1344.0            3.6
5           VP A      3.2  ausgefüllt     632.0            4.8
..           ...      ...         ...       ...            ...
255         FP B      3.8  ausgefüllt    2780.0            5.7
256         FP B      3.8  ausgefüllt     814.0            5.7
257         FP B      3.6  ausgefüllt    1376.0            5.4
258         FP B      4.0  ausgefüllt     941.0            6.0
259         FP B      3.4  ausgefüllt    1078.0            5.1

[238 rows x 5 columns]

In [74]:
w1_.max()

/var/folders/7y/mbkshqfj521ds_gl6386ypwh0000gp/T/ipykernel_5970/1253744215.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  w1_.max()

Praktikum_w1       VP B
SWE_Ges             4.0
TIME_SUM         2780.0
SWE_Mean_norm       6.0
dtype: object

In [75]:
w3_

,Praktikum_w3,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm
ID_student,,,,,,,,,,
GMA17,EP A,3.0,4.0,3.0,3.0,2.0,ausgefüllt,738.0,3.000000,4.500000
AOG1B,EP A,3.0,3.0,3.0,4.0,4.0,ausgefüllt,1048.0,3.400391,5.101562
BEH10,FP B,3.0,1.0,1.0,3.0,3.0,ausgefüllt,823.0,2.199219,3.298828
MRC2B,VP B,4.0,4.0,3.0,3.0,3.0,ausgefüllt,1085.0,3.400391,5.101562
MEJ2B,FP B,3.0,3.0,2.0,2.0,2.0,ausgefüllt,812.0,2.400391,3.601562
...,...,...,...,...,...,...,...,...,...,...
COD26,EP A,4.0,4.0,2.0,4.0,3.0,ausgefüllt,813.0,3.400391,5.101562
HWL26,FP B,4.0,4.0,4.0,4.0,4.0,ausgefüllt,894.0,4.000000,6.000000
EHE27,FP A,3.0,3.0,3.0,4.0,3.0,ausgefüllt,1035.0,3.199219,4.796875
EKL2G,VP B,3.0,3.0,3.0,4.0,3.0,ausgefüllt,938.0,3.199219,4.796875
CGM10,EP A,3.0,3.0,2.0,3.0,4.0,ausgefüllt,935.0,3.000000,4.500000

In [76]:
w4_

,Praktikum_w4,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm
ID_student,,,,,,,,,,
RRD17,FP A,4.0,4.0,3.0,3.0,4.0,ausgefüllt,1219.0,3.599609,5.398438
MSA24,EP A,3.0,3.0,2.0,3.0,4.0,ausgefüllt,832.0,3.000000,4.500000
ACA27,EP A,4.0,4.0,3.0,3.0,4.0,ausgefüllt,1246.0,3.599609,5.398438
CHL12,FP A,4.0,4.0,3.0,4.0,4.0,ausgefüllt,1204.0,3.800781,5.703125
LRE09,VP A,4.0,4.0,3.0,3.0,4.0,ausgefüllt,971.0,3.599609,5.398438
...,...,...,...,...,...,...,...,...,...,...
VEB11,VP B,4.0,4.0,4.0,4.0,4.0,ausgefüllt,722.0,4.000000,6.000000
EGA13,EP A,4.0,3.0,3.0,4.0,3.0,ausgefüllt,739.0,3.400391,5.101562
EFR05,FP A,4.0,4.0,3.0,3.0,2.0,ausgefüllt,800.0,3.199219,4.796875
MLM15,FP A,3.0,4.0,3.0,3.0,4.0,ausgefüllt,1290.0,3.400391,5.101562
CJM18,FP A,4.0,4.0,3.0,4.0,3.0,ausgefüllt,1089.0,3.599609,5.398438

In [77]:
w5_

,Praktikum_w5,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm
ID_student,,,,,,,,,,
GJJ11,VP A,4.0,5.0,2.0,4.0,5.0,ausgefüllt,1139.0,4.000000,4.000000
MFJ19,EP A,4.0,4.0,5.0,5.0,5.0,ausgefüllt,1079.0,4.601562,4.601562
DWL30,EP A,6.0,6.0,4.0,4.0,4.0,ausgefüllt,926.0,4.800781,4.800781
EAB22,VP A,6.0,6.0,5.0,5.0,6.0,ausgefüllt,742.0,5.601562,5.601562
CMS04,EP A,5.0,5.0,5.0,6.0,6.0,ausgefüllt,750.0,5.398438,5.398438
...,...,...,...,...,...,...,...,...,...,...
DMF23,EP A,5.0,6.0,5.0,5.0,5.0,ausgefüllt,1376.0,5.199219,5.199219
MAA14,VP A,6.0,5.0,3.0,6.0,6.0,ausgefüllt,684.0,5.199219,5.199219
MJC0F,VP A,4.0,5.0,1.0,3.0,6.0,ausgefüllt,1392.0,3.800781,3.800781
MWT01,VP B,6.0,6.0,5.0,6.0,6.0,ausgefüllt,1002.0,5.800781,5.800781
CNM31,VP A,5.0,5.0,6.0,6.0,6.0,ausgefüllt,673.0,5.601562,5.601562

In [78]:
w6_

,Praktikum_w6,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm
ID_student,,,,,,,,,,
PRM24,EP B,6.0,6.0,5.0,4.0,6.0,ausgefüllt,1060.0,5.398438,5.398438
SEM04,EP B,5.0,6.0,5.0,5.0,5.0,ausgefüllt,863.0,5.199219,5.199219
SGF03,EP B,5.0,6.0,4.0,6.0,5.0,ausgefüllt,1126.0,5.199219,5.199219
JWR11,EP B,5.0,6.0,5.0,4.0,5.0,ausgefüllt,1119.0,5.000000,5.000000
MGV05,EP B,5.0,6.0,6.0,6.0,6.0,ausgefüllt,941.0,5.800781,5.800781
...,...,...,...,...,...,...,...,...,...,...
ZII26,VP B,4.0,5.0,4.0,6.0,5.0,ausgefüllt,683.0,4.800781,4.800781
KJM07,VP B,6.0,6.0,5.0,6.0,5.0,ausgefüllt,1100.0,5.601562,5.601562
AAB08,VP B,6.0,6.0,5.0,6.0,6.0,ausgefüllt,1016.0,5.800781,5.800781
SFE07,VP B,5.0,6.0,5.0,4.0,6.0,ausgefüllt,783.0,5.199219,5.199219
MAL12,VP B,6.0,5.0,4.0,4.0,3.0,ausgefüllt,1515.0,4.398438,4.398438

In [79]:
w6_v3_

,Praktikum_w6,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm
ID_student,,,,,,,,,,
PRM24,EP B,6.0,6.0,5.0,4.0,6.0,ausgefüllt,1060.0,5.398438,5.398438
SEM04,EP B,5.0,6.0,5.0,5.0,5.0,ausgefüllt,863.0,5.199219,5.199219
SGF03,EP B,5.0,6.0,4.0,6.0,5.0,ausgefüllt,1126.0,5.199219,5.199219
JWR11,EP B,5.0,6.0,5.0,4.0,5.0,ausgefüllt,1119.0,5.000000,5.000000
MGV05,EP B,5.0,6.0,6.0,6.0,6.0,ausgefüllt,941.0,5.800781,5.800781
...,...,...,...,...,...,...,...,...,...,...
ZII26,VP B,4.0,5.0,4.0,6.0,5.0,ausgefüllt,683.0,4.800781,4.800781
KJM07,VP B,6.0,6.0,5.0,6.0,5.0,ausgefüllt,1100.0,5.601562,5.601562
AAB08,VP B,6.0,6.0,5.0,6.0,6.0,ausgefüllt,1016.0,5.800781,5.800781
SFE07,VP B,5.0,6.0,5.0,4.0,6.0,ausgefüllt,783.0,5.199219,5.199219
MAL12,VP B,6.0,5.0,4.0,4.0,3.0,ausgefüllt,1515.0,4.398438,4.398438

In [80]:
w8_

,Praktikum_w8,SW01_01,SW01_02,SW01_03,SW01_04,SW01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm
ID_student,,,,,,,,,,
IHT24,VP B,4.0,4.0,3.0,5.0,5.0,ausgefüllt,784.0,4.199219,4.199219
MHB27,VP A,5.0,4.0,3.0,5.0,5.0,ausgefüllt,1143.0,4.398438,4.398438
MJG14,FP B,4.0,5.0,5.0,5.0,5.0,ausgefüllt,645.0,4.800781,4.800781
MTA17,FP A,5.0,5.0,5.0,5.0,5.0,ausgefüllt,814.0,5.000000,5.000000
JMR28,VP B,4.0,4.0,2.0,4.0,4.0,ausgefüllt,719.0,3.599609,3.599609
...,...,...,...,...,...,...,...,...,...,...
MMC28,VP A,3.0,4.0,3.0,6.0,6.0,ausgefüllt,617.0,4.398438,4.398438
RGA04,VP A,4.0,2.0,2.0,4.0,3.0,ausgefüllt,861.0,3.000000,3.000000
EJP14,EP B,5.0,5.0,4.0,5.0,5.0,ausgefüllt,842.0,4.800781,4.800781
71929,VP A,6.0,4.0,4.0,6.0,5.0,ausgefüllt,675.0,5.000000,5.000000
EWG28,EP A,4.0,5.0,4.0,5.0,5.0,ausgefüllt,803.0,4.601562,4.601562

## Check wich cases are commong along each Welle

In [81]:
from itertools import combinations
 
wellen = ['w3', 'w4', 'w5', 'w6', 'w8'] 

data = { 'w3' : w3_, 'w4' : w4_, 'w5' : w5_, 'w6': w6_, 'w8' : w8_}
 
# size of combination is set to 3
comb_2 = combinations(wellen, 2)
comb_3 = combinations(wellen, 3)
comb_4 = combinations(wellen, 4)
comb_5 = combinations(wellen, 5)

for c1, c2 in comb_2:
    common = data[c1]\
        .join(data[c2],  how='inner', lsuffix='_').index.values.shape
    print("Combination :", c1,c2, "\tCommon Cases: " , common[0])

Combination : w3 w4 	Common Cases:  19
Combination : w3 w5 	Common Cases:  11
Combination : w3 w6 	Common Cases:  16
Combination : w3 w8 	Common Cases:  12
Combination : w4 w5 	Common Cases:  10
Combination : w4 w6 	Common Cases:  58
Combination : w4 w8 	Common Cases:  29
Combination : w5 w6 	Common Cases:  36
Combination : w5 w8 	Common Cases:  15
Combination : w6 w8 	Common Cases:  71

In [82]:
sets = []
df_combined = []
combs3 = []
for c1, c2, c3 in comb_3:
    combs3.append((c1,c2,c3))
    common = data[c1]\
        .join(data[c2],  how='inner', rsuffix='_B')\
        .join(data[c3], how='inner', rsuffix='_C')
    df_combined.append(common)
    sets.append(set(common.index.values))
    print("Combination :", c1,c2,c3,"\tCommon Cases: " , common.index.values.shape[0])

Combination : w3 w4 w5 	Common Cases:  2
Combination : w3 w4 w6 	Common Cases:  4
Combination : w3 w4 w8 	Common Cases:  4
Combination : w3 w5 w6 	Common Cases:  3
Combination : w3 w5 w8 	Common Cases:  2
Combination : w3 w6 w8 	Common Cases:  5
Combination : w4 w5 w6 	Common Cases:  3
Combination : w4 w5 w8 	Common Cases:  1
Combination : w4 w6 w8 	Common Cases:  11
Combination : w5 w6 w8 	Common Cases:  6

In [83]:
for i,df in enumerate(df_combined):
    file_name = "./files/combined_3_" + str(i) + ".csv"
    df.round(decimals=2).to_csv(file_name)

In [84]:
len(set.union(*sets))

32

In [85]:
codes_in_3combination = set.union(*sets)

In [86]:
new = pd.DataFrame(index=np.arange(len(set.union(*sets))), columns=['ID','w3','w4','w5','w6','w8', 'swe_w3','swe_w4','swe_w5','swe_w6','swe_w8'])

In [87]:
new['ID'] = list(codes_in_3combination)

In [88]:
new.set_index('ID', inplace=True)

In [89]:
combs3

[('w3', 'w4', 'w5'),
 ('w3', 'w4', 'w6'),
 ('w3', 'w4', 'w8'),
 ('w3', 'w5', 'w6'),
 ('w3', 'w5', 'w8'),
 ('w3', 'w6', 'w8'),
 ('w4', 'w5', 'w6'),
 ('w4', 'w5', 'w8'),
 ('w4', 'w6', 'w8'),
 ('w5', 'w6', 'w8')]

In [90]:
for i in np.arange(len(df_combined)):
    a = combs3[i][0]
    b = combs3[i][1]
    c = combs3[i][2]
    for idx in df_combined[i].index.values:
        new.loc[idx][a] = df_combined[i].loc[idx]['Praktikum_'+a]
        new.loc[idx][b] = df_combined[i].loc[idx]['Praktikum_'+b]
        new.loc[idx][c] = df_combined[i].loc[idx]['Praktikum_'+c]
        new.loc[idx]['swe_'+a] = df_combined[i].loc[idx]['SWE_Mean_norm']
        new.loc[idx]['swe_'+b] = df_combined[i].loc[idx]['SWE_Mean_norm_B']
        new.loc[idx]['swe_'+c] = df_combined[i].loc[idx]['SWE_Mean_norm_C']

In [91]:
new

,w3,w4,w5,w6,w8,swe_w3,swe_w4,swe_w5,swe_w6,swe_w8
ID,,,,,,,,,,
SAB14,FP B,VP A,VP B,NaN,NaN,4.5,5.101562,4.398438,NaN,NaN
MAJ29,EP A,NaN,FP A,NaN,FP B,4.796875,NaN,5.0,NaN,4.601562
JAL27,NaN,NaN,FP A,FP B,VP B,NaN,NaN,4.800781,5.199219,5.601562
SHA13,FP B,NaN,VP A,VP B,NaN,4.5,NaN,4.800781,4.0,NaN
ESS19,VP A,VP B,NaN,NaN,VP B,4.796875,5.398438,NaN,NaN,5.601562
NHL21,NaN,NaN,EP A,EP B,FP A,NaN,NaN,5.800781,3.800781,3.400391
BSS27,EP A,EP A,NaN,FP A,NaN,5.703125,5.101562,NaN,5.398438,NaN
RAS30,EP A,NaN,NaN,FP A,VP A,4.203125,NaN,NaN,5.398438,5.199219
MFV23,NaN,FP A,FP B,VP A,NaN,NaN,5.398438,5.398438,4.800781,NaN
SSJ20,NaN,EP A,NaN,FP B,VP A,NaN,5.398438,NaN,5.398438,5.199219
CGM10,EP A,EP A,NaN,FP A,FP B,4.5,5.101562,NaN,4.0,4.199219
AGI19,EP A,EP A,NaN,NaN,VP A,4.5,4.203125,NaN,NaN,5.0
SRJ31,EP A,EP A,NaN,FP A,VP A,5.101562,5.398438,NaN,5.0,4.601562
SFJ26,FP B,VP A,VP B,NaN,NaN,4.796875,4.5,5.800781,NaN,NaN
KRE13,EP A,NaN,FP A,FP B,NaN,3.298828,NaN,4.601562,5.0,NaN
BAV11,NaN,EP A,NaN,FP A,FP A,NaN,5.101562,NaN,4.398438,4.199219
LFC19,NaN,EP A,NaN,FP A,FP B,NaN,4.5,NaN,5.0,4.0
GFK01,NaN,NaN,EP A,EP B,EP B,NaN,NaN,3.599609,4.398438,4.0
GHV14,NaN,EP A,FP A,FP B,NaN,NaN,6.0,5.601562,5.800781,NaN
IJK20,FP A,NaN,FP B,VP A,VP A,5.101562,NaN,5.398438,5.601562,4.601562
AJC30,NaN,FP A,FP B,NaN,VP B,NaN,4.5,4.398438,NaN,4.800781
AJC17,NaN,EP A,NaN,FP A,FP B,NaN,6.0,NaN,6.0,5.601562
MJA19,NaN,EP A,NaN,FP A,VP A,NaN,4.5,NaN,4.0,4.0
ALS30,NaN,EP A,NaN,FP A,VP A,NaN,5.101562,NaN,5.398438,5.800781
MFM16,FP B,NaN,NaN,VP B,VP B,3.601562,NaN,NaN,4.800781,3.199219
RWS07,NaN,EP A,NaN,FP A,FP A,NaN,3.898438,NaN,4.800781,4.0
BRJ16,NaN,NaN,EP A,EP B,FP A,NaN,NaN,5.0,5.0,4.800781
BPM16,NaN,FP A,FP B,VP A,NaN,NaN,4.5,5.0,4.800781,NaN
MDH14,NaN,EP A,NaN,FP A,VP A,NaN,6.0,NaN,6.0,5.601562
LSA29,NaN,NaN,EP A,EP B,EP B,NaN,NaN,3.599609,4.199219,3.199219
BDK16,EP A,EP A,NaN,FP A,NaN,4.203125,4.5,NaN,4.0,NaN
BMH23,NaN,FP A,NaN,FP B,VP A,NaN,4.5,NaN,5.601562,5.0

In [92]:
new.round(2).to_csv('New2.csv', float_format='%.2f')

In [93]:
#

In [94]:
df_combined[5]

,Praktikum_w3,KO01_01,KO01_02,KO01_03,KO01_04,KO01_05,FINISHED,TIME_SUM,SWE_Mean,SWE_Mean_norm,Praktikum_w6,KO01_01_B,KO01_02_B,KO01_03_B,KO01_04_B,KO01_05_B,FINISHED_B,TIME_SUM_B,SWE_Mean_B,SWE_Mean_norm_B,Praktikum_w8,SW01_01,SW01_02,SW01_03,SW01_04,SW01_05,FINISHED_C,TIME_SUM_C,SWE_Mean_C,SWE_Mean_norm_C
ID_student,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
MFM16,FP B,2.0,3.0,2.0,3.0,2.0,ausgefüllt,1055.0,2.400391,3.601562,VP B,5.0,4.0,4.0,6.0,5.0,ausgefüllt,2212.0,4.800781,4.800781,VP B,3.0,3.0,2.0,5.0,3.0,ausgefüllt,904.0,3.199219,3.199219
SRJ31,EP A,3.0,3.0,3.0,4.0,4.0,ausgefüllt,675.0,3.400391,5.101562,FP A,5.0,6.0,4.0,5.0,5.0,ausgefüllt,1468.0,5.000000,5.000000,VP A,4.0,4.0,4.0,6.0,5.0,ausgefüllt,921.0,4.601562,4.601562
RAS30,EP A,3.0,3.0,3.0,3.0,2.0,ausgefüllt,905.0,2.800781,4.203125,FP A,6.0,6.0,5.0,5.0,5.0,ausgefüllt,1417.0,5.398438,5.398438,VP A,6.0,5.0,3.0,6.0,6.0,ausgefüllt,1056.0,5.199219,5.199219
IJK20,FP A,3.0,3.0,4.0,4.0,3.0,ausgefüllt,897.0,3.400391,5.101562,VP A,6.0,5.0,6.0,5.0,6.0,ausgefüllt,1599.0,5.601562,5.601562,VP A,4.0,5.0,5.0,5.0,4.0,ausgefüllt,800.0,4.601562,4.601562
CGM10,EP A,3.0,3.0,2.0,3.0,4.0,ausgefüllt,935.0,3.000000,4.500000,FP A,3.0,5.0,3.0,4.0,5.0,ausgefüllt,1279.0,4.000000,4.000000,FP B,6.0,5.0,2.0,5.0,3.0,ausgefüllt,644.0,4.199219,4.199219

In [95]:
new.loc[['IJK20']]

,w3,w4,w5,w6,w8,swe_w3,swe_w4,swe_w5,swe_w6,swe_w8
ID,,,,,,,,,,
IJK20,FP A,NaN,FP B,VP A,VP A,5.101562,NaN,5.398438,5.601562,4.601562

In [96]:
for c1, c2, c3, c4 in comb_4:
    common = data[c1]\
        .join(data[c2],  how='inner', lsuffix='_')\
        .join(data[c3], how='inner', rsuffix='_2')\
        .join(data[c4], how='inner', rsuffix='_3').index.values.shape
    print("Combination :", c1,c2,c3,c4, "\tCommon Cases: " , common[0])

Combination : w3 w4 w5 w6 	Common Cases:  0
Combination : w3 w4 w5 w8 	Common Cases:  0
Combination : w3 w4 w6 w8 	Common Cases:  2
Combination : w3 w5 w6 w8 	Common Cases:  1
Combination : w4 w5 w6 w8 	Common Cases:  0

In [97]:
for c1, c2, c3, c4, c5 in comb_5:
    common = data[c1]\
        .join(data[c2],  how='inner', lsuffix='_')\
        .join(data[c3], how='inner', rsuffix='_2')\
        .join(data[c4], how='inner', rsuffix='_3')\
        .join(data[c5], how='inner', rsuffix='_4').index.values.shape
    print("Combination :", c1,c2,c3,c4,c5,"\tCommon Cases: " , common[0])

Combination : w3 w4 w5 w6 w8 	Common Cases:  0

In [98]:
w6_v3_[['Praktikum_w6','SWE_Mean_norm']]

           Praktikum_w6  SWE_Mean_norm
ID_student
PRM24              EP B       5.398438
SEM04              EP B       5.199219
SGF03              EP B       5.199219
JWR11              EP B       5.000000
MGV05              EP B       5.800781
...                 ...            ...
ZII26              VP B       4.800781
KJM07              VP B       5.601562
AAB08              VP B       5.800781
SFE07              VP B       5.199219
MAL12              VP B       4.398438

[461 rows x 2 columns]

## groups by praktikum

In [99]:
# vals = w3_[['Praktikum_w3','SWE_Mean_norm']].values
wellen = [
    w1_[['Praktikum_w1','SWE_Mean_norm']].values,
    w3_[['Praktikum_w3','SWE_Mean_norm']].values, 
    w4_[['Praktikum_w4','SWE_Mean_norm']].values, 
    w5_[['Praktikum_w5','SWE_Mean_norm']].values, 
    w6_v3_[['Praktikum_w6','SWE_Mean_norm']].values, 
    w8_[['Praktikum_w8','SWE_Mean_norm']].values]

p_set = set()

GR_EP_A = []
GR_EP_B = []
GR_VP_A = []
GR_VP_B = []
GR_FP_A = []
GR_FP_B = []
GR_MP_A = []
for vals in wellen:
    for row in vals:
        p_set.add(row[0])
        if row[0] == 'EP A':
            GR_EP_A.append(row)
        if row[0] == 'EP B':
            GR_EP_B.append(row)
        if row[0] == 'VP A':
            GR_VP_A.append(row)
        if row[0] == 'VP B':
            GR_VP_B.append(row)
        if row[0] == 'FP A':
            GR_FP_A.append(row)
        if row[0] == 'FP B':
            GR_FP_B.append(row)
        if row[0] == 'MP A':
            GR_MP_A.append(row)
        
GR_EP_A = np.array(GR_EP_A)
GR_EP_B = np.array(GR_EP_B)
GR_VP_A = np.array(GR_VP_A)
GR_VP_B = np.array(GR_VP_B)
GR_FP_A = np.array(GR_FP_A)
GR_FP_B = np.array(GR_FP_B)
GR_MP_A = np.array(GR_MP_A)

In [100]:
#for i,w in enumerate(wellen):
#    pd.DataFrame(w[['Praktikum_w1','SWE_Mean_norm']]).to_csv(i+'_welle_lists.csv')

In [101]:
list_praktikums = pd.DataFrame(
    np.concatenate((GR_EP_A, GR_EP_B, GR_VP_A, GR_VP_B, GR_FP_A, GR_FP_B, GR_MP_A), axis=0),
    columns=['Praktikum', 'SWE']
)

In [102]:
list_praktikums['SWE'].mean()

4.8804560947624145

In [103]:
list_praktikums

     Praktikum       SWE
0         EP A       4.5
1         EP A  5.101562
2         EP A  4.796875
3         EP A  5.398438
4         EP A       4.5
...        ...       ...
1384      FP B  3.400391
1385      FP B  5.398438
1386      FP B  4.800781
1387      MP A  3.599609
1388      MP A  4.199219

[1389 rows x 2 columns]

In [104]:
list_EP_A = list_praktikums[~list_praktikums['SWE'].isnull()][list_praktikums['Praktikum'] == 'EP A']['SWE'].values.astype(float)
list_EP_B = list_praktikums[~list_praktikums['SWE'].isnull()][list_praktikums['Praktikum'] == 'EP B']['SWE'].values.astype(float)
list_FP_A = list_praktikums[~list_praktikums['SWE'].isnull()][list_praktikums['Praktikum'] == 'FP A']['SWE'].values.astype(float)
list_FP_B = list_praktikums[~list_praktikums['SWE'].isnull()][list_praktikums['Praktikum'] == 'FP B']['SWE'].values.astype(float)
list_VP_A = list_praktikums[~list_praktikums['SWE'].isnull()][list_praktikums['Praktikum'] == 'VP A']['SWE'].values.astype(float)
list_VP_B = list_praktikums[~list_praktikums['SWE'].isnull()][list_praktikums['Praktikum'] == 'VP B']['SWE'].values.astype(float)

In [105]:
list_praktikums['SWE'].isnull().sum()

0

In [106]:
from scipy import stats

res=stats.levene(list_EP_A,list_EP_B,list_FP_A,list_FP_B,list_VP_A,list_VP_B, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=1.60768448396495, pvalue=0.15492795764532982)

In [107]:
from scipy import stats

res=stats.levene(list_VP_A,list_VP_B, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=3.287761942440399, pvalue=0.07043855657751463)

In [108]:
from scipy import stats

res=stats.levene(list_VP_B,list_VP_A, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=3.287761942440399, pvalue=0.07043855657751463)

In [109]:
res=stats.levene(list_EP_A,list_EP_B, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=0.3207190095685906, pvalue=0.5714819845016654)

In [110]:
res=stats.levene(list_FP_A, list_VP_A,list_VP_B, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=1.6550098746135617, pvalue=0.1918152727179189)

In [111]:
res=stats.levene(list_FP_A, list_FP_B, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=1.1498552407646663, pvalue=0.28409881221511096)

In [112]:
from scipy import stats

res=stats.levene(list_VP_A,list_VP_B, center='mean', proportiontocut=0.05)
print(res)

LeveneResult(statistic=3.287761942440399, pvalue=0.07043855657751463)

In [113]:
list_praktikums.groupby(['Praktikum']).agg(['count','mean'])

            SWE
          count      mean
Praktikum
EP A        162  4.936053
EP B        255  4.912883
FP A        254  4.880323
FP B        246  4.855685
MP A          2  3.899414
VP A        264  4.874663
VP B        206  4.843289

In [114]:
list_praktikums[list_praktikums['SWE']==6]

     Praktikum  SWE
20        EP A  6.0
32        EP A  6.0
36        EP A  6.0
52        EP A  6.0
57        EP A  6.0
...        ...  ...
1311      FP B  6.0
1322      FP B  6.0
1349      FP B  6.0
1366      FP B  6.0
1378      FP B  6.0

[84 rows x 2 columns]

In [115]:
(list_praktikums['Praktikum']==6).sum()

0

In [116]:
l_test = list_praktikums[~(list_praktikums['SWE']==6)]

In [117]:
l_test

     Praktikum       SWE
0         EP A       4.5
1         EP A  5.101562
2         EP A  4.796875
3         EP A  5.398438
4         EP A       4.5
...        ...       ...
1384      FP B  3.400391
1385      FP B  5.398438
1386      FP B  4.800781
1387      MP A  3.599609
1388      MP A  4.199219

[1305 rows x 2 columns]

In [118]:
import pyreadstat

#pyreadstat.write_sav(list_praktikums, 'list_praktikums_new_20_10_2023.sav')

In [119]:
p

NameError: name 'p' is not defined

In [120]:
from itertools import combinations

In [121]:
list_praktikums[list_praktikums['SWE'].astype("float").isna()]

Empty DataFrame
Columns: [Praktikum, SWE]
Index: []

In [122]:
prak = ["EP A", "EP B", "FP A", "FP B", "VP A", "VP B"]
combs = list(combinations(prak, 2))
len(combs)

15

In [123]:
p_values = {} 
for c1,c2 in combs:
    val1 = list_praktikums['SWE'][list_praktikums['Praktikum'] == c1].dropna().values.astype("float")
    val2 = list_praktikums['SWE'][list_praktikums['Praktikum'] == c2].dropna().values.astype("float")
    res = stats.ttest_ind(val2,val1, equal_var=True)
    p_values[c1+"_"+c2] = round(res[1],9)
    print(c1,c2,res)

EP A EP B TtestResult(statistic=-0.3493610975749624, pvalue=0.7269954385150108, df=415.0)
EP A FP A TtestResult(statistic=-0.7771571515083316, pvalue=0.4375098908237367, df=414.0)
EP A FP B TtestResult(statistic=-1.1783465184765562, pvalue=0.23934865893152657, df=406.0)
EP A VP A TtestResult(statistic=-0.8885938700699088, pvalue=0.3747252111405337, df=424.0)
EP A VP B TtestResult(statistic=-1.1936888691619327, pvalue=0.23337282463598902, df=366.0)
EP B FP A TtestResult(statistic=-0.5344326919713963, pvalue=0.593276476888031, df=507.0)
EP B FP B TtestResult(statistic=-0.978791199706027, pvalue=0.32815744540260583, df=499.0)
EP B VP A TtestResult(statistic=-0.6497164803384173, pvalue=0.5161639373242295, df=517.0)
EP B VP B TtestResult(statistic=-1.0509873962225107, pvalue=0.29381738456449846, df=459.0)
FP A FP B TtestResult(statistic=-0.3941964048932808, pvalue=0.6936047826773686, df=498.0)
FP A VP A TtestResult(statistic=-0.09040643921191924, pvalue=0.9279993218756997, df=516.0)
FP A VP B TtestResult(statistic=-0.525145747249916, pvalue=0.5997359937759879, df=458.0)
FP B VP A TtestResult(statistic=0.314397470546969, pvalue=0.753348255090255, df=508.0)
FP B VP B TtestResult(statistic=-0.18240953152145967, pvalue=0.8553434912343801, df=450.0)
VP A VP B TtestResult(statistic=-0.46020631299646697, pvalue=0.6455818799716607, df=468.0)

In [ ]:
p_values = {} 
for c1,c2 in combs:
    val1 = list_praktikums['SWE'][list_praktikums['Praktikum'] == c1].dropna().values.astype("float")
    val2 = list_praktikums['SWE'][list_praktikums['Praktikum'] == c2].dropna().values.astype("float")
    res = stats.ttest_ind(val2,val1, equal_var=True)
    p_values[c1+"_"+c2] = round(res[1],9)
    print(c1,c2,res)
# pd.DataFrame.from_dict(p_values, orient="index")

In [ ]:
for c1,c2 in combs:
    val1 = list_praktikums['SWE'][list_praktikums['Praktikum'] == c1].dropna().values.astype("float")
    val2 = list_praktikums['SWE'][list_praktikums['Praktikum'] == c2].dropna().values.astype("float")
    res = stats.ttest_ind(stats.boxcox(val2),stats.boxcox(val1), equal_var=True)
    print(c1,c2,res)

In [ ]:
from scipy import stats

stats.ttest_ind(a,b,equal_var=False)

## Different values in each of the interest columns

In [ ]:
for column in w1_swe.columns.values:
    print(w1_swe[column].value_counts(dropna=False), '\n---------')

In [ ]:
for column in w3_swe.columns.values:
    print(w3_swe[column].value_counts(dropna=False), '\n---------')

In [ ]:
for column in w4_swe.columns.values:
    print(w4_swe[column].value_counts(dropna=False), '\n---------')

In [ ]:
for column in w5_swe.columns.values:
    print(w5_swe[column].value_counts(dropna=False), '\n---------')

In [ ]:
for column in w8_swe.columns.values:
    print(w8_swe[column].value_counts(dropna=False), '\n---------')

In [ ]:
swe_138 = w1_swe.join(w3_swe,  how='inner', rsuffix='_W3').join(w8_swe, how='inner', rsuffix='_W8')

In [ ]:
swe_138.info()

In [ ]:
swe_138.head()

In [ ]:
swe_138.isnull().sum()

In [ ]:
for column in swe_138.columns.values:
    print(swe_138[column].value_counts(dropna=False), '\n---------')

In [ ]:
for column in swe_138.columns.values[1:]:
    if column[:2] == "KO":
        max_ = 4.0
        min_ = 1.0
    elif column[:2] == "SW":
        max_ = 6.0
        min_ = 1.0
    swe_138[column] = swe_138[column].astype('object')

    swe_138.loc[swe_138[column] == 'trifft voll zu',column] = max_
    swe_138.loc[swe_138[column] == 'trifft gar nicht zu',column] = min_

    swe_138[column] = swe_138[column].astype('float32')

In [ ]:
# Frequency of values in each column
for column in swe_138.columns.values:
    print(swe_138[column].value_counts(dropna=False), '\n---------')

In [ ]:
swe_138

In [ ]:
swe_138['W3_Mean'] = swe_138[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
swe_138['W8_Mean'] = swe_138[['SW01_01', 'SW01_02','SW01_03','SW01_04', 'SW01_05']].mean(axis=1)
swe_138['SWE_Ges_norm'] = swe_138['SWE_Ges'] / 4
swe_138['W3_Mean_norm'] = swe_138['W3_Mean'] / 4
swe_138['W8_Mean_norm'] = swe_138['W8_Mean'] / 6

In [ ]:
swe_138[['SWE_Ges','W3_Mean','W8_Mean','SWE_Ges_norm','W3_Mean_norm','W8_Mean_norm']]

In [ ]:
plt.plot(['SWE_Ges_norm','W3_Mean_norm','W8_Mean_norm'], swe_138[['SWE_Ges_norm','W3_Mean_norm','W8_Mean_norm']].to_numpy().T)
plt.show

In [ ]:
list(w1.columns)

In [ ]:
i=1
for i in range(1,16):
    print(i, 0.05*0.95*i/(6-i+1))